@import "twitter-bootstrap-1.4.0/lib/bootstrap.less";

@import "_variables.less";
@import "_font.less";
@import "_mixins.less";

.bold {
    font-weight: bold;
}
.red {
    color: red;
}

div.datagrid table {
    width: 100%;
    border-collapse: separate;
    border: 1px solid @lightBlue;
    border-top: 1px solid @tabsColor;
    margin-bottom: 0;
    
    thead {
        font-weight: 600;
        .gradientBar(@startGradient, @endGradient);
        text-shadow: 0 1px 0 white;
        text-align: center;
        line-height: 100%;
        padding: 15px 5px;
        font-size: 12px;
        border-bottom: 1px solid @lightBlue;

        th {
            background: url(../../images/table-th-separator.png) 0px center no-repeat;
            text-align: left;
            padding: 0px;
            color: @darkBlue;
            vertical-align: middle;
            padding-left: 5px;
            font-weight: 500;
            height: 27px;

            &.cell-0 {
                background: none;   
            }

            &.options {
                width: 10px;
            }

            a.sortlink {
                line-height: 12px;
                color: @darkBlue;
                display: inline-block;
            }

            &.headerSortUp div.header-wrapper {
                background: url(../../images/sortup.png) 90% center no-repeat;
            }
            &.headerSortDown div.header-wrapper {
                background: url(../../images/sortdown.png) 90% center no-repeat;
            }

            div.header-wrapper {
                position: relative;
            }

            div.filter {
                display: inline-block;
                float: right;
            }

            a.filterlink {
                position: absolute;
                top: 0;
                right: 5px;
                margin: 0;
                text-indent: -5000px;
                display: inline-block;
                outline: none;
                background: url(../../images/filters_small.png) center -16px no-repeat;
                height: 16px;
                width: 16px;
            }

            a.filterlink:hover {
                background-position: center 0px;
            }

            a.filterlink.active {
                background-position: center -32px;
            }
        }
    }

    tfoot {
        .gradientBar(@startGradient, @endGradient);

        th {
            border-right: 1px solid white;
            border-left: 1px solid #d1e2ed;
            border-bottom: 1px solid #d1e2ed;
            border-top: 1px solid white;
        }
    }
    
    td {
        padding: 5px;
        border-right: 1px solid white;
        border-left: 1px solid #d1e2ed;
        border-bottom: 1px solid #d1e2ed;
        border-top: 1px solid white;
        background: white;
        vertical-align: middle;

        &.datagrid-empty {
            vertical-align: center;
            font-weight: bold;
            text-align: center;
        }
    }
    
    tbody tr {
        &:hover td {
            background: @grayLighter;
        }
    }
    
    tr:last-child {
        td {
            border-bottom-width: 0px;
        }
    }
}

div.datagrid div.options {
    display:inline-block;
    float: right;
    margin: 1px 0 1px 1px;

    hr {
        border: none;
        background-color: #ccc;
        color: #ccc;
        height: 1px;
        margin: 7px 0;
    }

    div.clipboard-button {
        color: @darkBlue;
        cursor: pointer;
        text-align: left;

        &:hover {
            text-decoration: underline;
        }
    }
    
    a.toggle {
        .iconLink(url(../../images/options.png));
        height: 10px;
        width: 25px;
        margin: 0;
        
        background-position: top center;
        
        &:hover {
            background-position: bottom center;
        }
    }
}

div.popover.below {
    padding: 9px;

    .inner {
        padding: 0;
        .box-shadow(2px 2px 5px @darkGray);
        border: 1px solid @darkGray;

        .content {
            background: @lightGray;
            input[type=text] {
                 width: 95%;
            }
        }
    }
    
    .arrow {
        border-bottom-color: @darkGray !important;
        border-width: 0px 10px 10px 10px;
        
        &:after {
            content: "";
            border-color: transparent;
            border-bottom-color: @lightGray !important;
            border-width: 0px 9px 9px 9px;
            border-style: solid;
            display: block;
            background: transparent;
            position: absolute;
            left: -9px;
            top: 1px;
        }
    }
}

