@import "twitter-bootstrap-1.4.0/lib/bootstrap.less";

@import "_variables.less";
@import "_font.less";
@import "_mixins.less";

.bold {
    font-weight: bold;
}
.red {
    color: red;
}

/**
 * Datagrid header
 */
.dg-table-header {
  padding-right: 20px;
  text-align: left;
  position: relative;
  display: block;
  text-indent: 10px;
}

.dg-header-widget {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
  text-align: center;
}

// --- If two widget
.dg-table-header.dg-filterable.dg-sortable .dg-table-header {
  padding-right: 40px;
}
.dg-table-header.dg-filterable.dg-sortable .icon-sort {
  right: 20px;
}

// --- if more widget, define the positionning rules here
/*
  .dg-table-header[.widget] .dg-table-header {
    padding-right: sum (widget.width); // Let 20px for each widget
  }
  .dg-table-header [widget n] {
    right: n*20px; // 20px per widget
  }
*/

/**
 * Header widget style
 */
.icon-sort.up {
  background: url(../../images/sortup.png) 90% center no-repeat;
}
.icon-sort.down {
  background: url(../../images/sortdown.png) 90% center no-repeat;
}

.icon-filter-wrapper {
  a.filterlink {
    margin: 0;
    background: url(../../images/filters_small.png) center -16px no-repeat;
    height: 16px;
    width: 16px;
    text-indent: -9000px;
    display: block;
  }

  a.filterlink:hover {
    background-position: center 0px;
  }

  a.filterlink.active {
    background-position: center -32px;
  }
}

/**
 * Datagrid style
 */
.dg-table {
    border-collapse: collapse;
}

.dg-table td, .dg-table th {
  border: 1px solid gray;
  padding: 0;
  font-style: none;
  font-weight: normal;
  color: inherit;
}
//    border: 1px solid @lightBlue;
//    border-top: 1px solid @tabsColor;
//    margin-bottom: 0;
//}
//.dg-table thead {
//    .gradientBar(@startGradient, @endGradient);
//    text-shadow: 0 1px 0 white;
//    text-align: center;
//    line-height: 100%;
//    padding: 15px 5px;
//    border-bottom: 1px solid @lightBlue;
//
//    th {
//        text-align: left;
//        padding: 0px;
//        color: @darkBlue;
//        vertical-align: middle;
//        padding-left: 0px;
//        font-weight: 500;
//        height: 27px;
//        border-left: 1px solid #4F8BAC;
//
//        &.cell-0 {
//            border-left: none;
//        }
//    }
//}
//
//.dg-table tfoot {
//    th {
//        border: 1px solid #d1e2ed;
//    }
//}
//
//.dg-table td {
//  padding: 5px;
//  border-right: 1px solid white;
//  border-left: 1px solid #d1e2ed;
//  border-bottom: 1px solid #d1e2ed;
//  border-top: 1px solid white;
//  background: white;
//  vertical-align: middle;
//
//  &.datagrid-empty {
//      vertical-align: center;
//      font-weight: bold;
//      text-align: center;
//  }
//
//  tbody tr {
//      &:hover td {
//          background: @grayLighter;
//      }
//  }
//
//  tr:last-child {
//      td {
//          border-bottom-width: 0px;
//      }
//  }
//}

/**
 * Datagrid Toolbar
 */
div.datagrid div.datagrid-options {
    .gradientBar(@startGradient, @endGradient);
    padding: 5px;

    div.clipboard, div.columnpicker {
        display: inline-block;
        padding-right: 5px;
        background: url(../../images/table-th-separator.png) right center no-repeat;
    }
    
    div.clipboard-button {
        cursor: pointer;
        .iconLink(url(../../images/page_paste.png));
        height: 16px;
        width: 16px;
    }
    
    div.columnpicker a.toggle {
        .iconLink(url(../../images/application_view_columns.png));
        height: 16px;
        width: 16px;
        margin: 0;
    }
}

div.popover.below {
    padding: 9px;

    .inner {
        padding: 0;
        .box-shadow(2px 2px 5px @darkGray);
        border: 1px solid @darkGray;

        .content {
            background: @lightGray;
            input[type=text] {
                 width: 95%;
            }
        }
    }
    
    .arrow {
        border-bottom-color: @darkGray !important;
        border-width: 0px 10px 10px 10px;
        
        &:after {
            content: "";
            border-color: transparent;
            border-bottom-color: @lightGray !important;
            border-width: 0px 9px 9px 9px;
            border-style: solid;
            display: block;
            background: transparent;
            position: absolute;
            left: -9px;
            top: 1px;
        }
    }
}


/**
 * GraphBrowser
 */
div.graph-browser {
    border: 1px solid #ccc;

    .span3 {
        border-right: 1px solid #ddd;
        position: relative;
        margin: 0;
    }
    .span3:last-child {
        border-right: none;
    }

    h2 {
        border-bottom: 1px solid #ccc;
        padding-left: 5px;
    }

    ul.items-list li {
        padding: 2px 5px;
        border-bottom: 1px solid #ddd;
    }

    ul.items-list li.selected {
        font-weight: 500;
        background: #ccc url('../../images/play.png') center right no-repeat;
    }
}

