div.datagrid table .headerSortDown a:after {
    content: " \2228";
}
div.datagrid table .headerSortUp a:after {
    content: " \2227";
}
div.datagrid div.columnpicker {
    display: inline-block;
    float: right;
    margin: 3px 0 0;
}